version: 2.1

orbs:
  snyk: snyk/snyk@1.1.2
  #codecov: codecov/codecov@1.0.2
  codacy: codacy/coverage-reporter@13.3.0

jobs:
  build_docs:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.7
    steps:
      - checkout
      - run:
          name: Setup environment
          command: |
            sudo chown -R circleci:circleci /usr/local/
            python -m pip install --upgrade pip
            python -m pip install poetry
            python -m poetry install -E doc
      - run:
          name: Building documentation
          command: |
            git config user.name 'github-actions[bot]' && git config user.email 'github-actions[bot]@users.noreply.github.com'
            python -m poetry run mkdocs gh-deploy -m "[skip ci] Deployed {sha} with MkDocs version: {version}"
  test_coco_assistant:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.7
    steps:
      - checkout
      # - restore_cache:
      #    key: coco-{{ .Branch }}
      - run:
          name: Setup environment
          command: |
            sudo chown -R circleci:circleci /usr/local/
            python -m pip install --upgrade pip
            python -m pip install poetry
            python -m poetry install -E test -E doc -E dev
      # - save_cache:
      #     key: coco-{{ .Branch }}
      #     paths:
      #       - "/home/circleci/.cache/pip"
      - snyk/scan:
          severity-threshold: high
          fail-on-issues: false
      - run:
          name: Runnning tests
          command: |
            mkdir test-results
            python -m poetry run pytest --junitxml=test-results/junit.xml tests/test_coco_assistant.py
            python -m poetry run coverage run tests/test_coco_assistant.py
            python -m poetry run coverage report -m
            python -m poetry run coverage html && python -m poetry run coverage xml
      - codacy/send_report:
          coverage-reports: coverage.xml
      #- codecov/upload:
      #    file: coverage.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: coverage

  test_deploy:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.7
    steps:
      - add_ssh_keys:
          fingerprints:
            - cf:c8:70:07:e5:ab:06:9a:da:ac:cf:fa:91:ea:8a:49
      - checkout
      - run:
          name: Setup environment
          command: |
            sudo chown -R circleci:circleci /usr/local/
            python -m poetry install -E dev

      - run:
          name: Build and upload to Test PyPI
          command: |
            python -m poetry config repositories.testpypi https://test.pypi.org/legacy/
            python -m poetry publish --build -r testpypi -u ashnair1 -p $TEST_PYPI_PASSWORD

  deploy:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.7
    steps:
      - add_ssh_keys:
          fingerprints:
            - cf:c8:70:07:e5:ab:06:9a:da:ac:cf:fa:91:ea:8a:49
      - checkout
      - run:
          name: Setup environment
          command: |
            sudo chown -R circleci:circleci /usr/local/
            python -m poetry install -E dev

      - run:
          name: Build and upload to PyPI
          command: |
            python -m poetry publish --build -u ashnair1 -p $PYPI_PASSWORD


workflows:
  version: 2
  test_and_build_docs:
    jobs:
      - test_coco_assistant:
           filters:
              branches:
                  only:
                     - master
                     - dev
      - build_docs:
           filters:
              branches:
                  only:
                     - master

  build_deploy:
    jobs:
      - test_coco_assistant:
            filters:
              tags:
                only: /[0-9]+(\.[0-9]+)*/
              branches:
                ignore: /.*/
      - build_docs:
           filters:
              tags:
                only: /[0-9]+(\.[0-9]+)*/
              branches:
                ignore: /.*/
      - test_deploy:
            filters:
              tags:
                only: /[0-9]+(\.[0-9]+)*/
              branches:
                ignore: /.*/
      - deploy:
            requires:
              - test_coco_assistant
              - build_docs
              - test_deploy
            filters:
              tags:
                only: /[0-9]+(\.[0-9]+)*/
              branches:
                ignore: /.*/


