version: 2
jobs:
  test_coco_assistant:
    working_directory: ~/project
    docker:
      - image: circleci/python:3.7.2
    steps:
      - checkout
      - run:
          name: Runnning tests
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            py.test -vv tests/tests.py
workflows:
  version: 2
  test-all:
    jobs:
      - test_coco_assistant